

<form action="<%= "/words" %>" method="post" %>

	
  <div class="word">	
	<label for="word">Enter your new word</label>
	<input type="text" name="text"  />
  </div>

  
  
  <div class="button">
	<input type="submit" />
  </div>
</form>